[submodule "fh-software-testing"]
	path = fh-software-testing
	url = git@github.com:FlorianMold/fh-software-testing.git
	branch = main
[submodule "fh-fp"]
	path = fh-fp
	url = git@github.com:FlorianMold/fh-fp.git
	branch = main
[submodule "fh-ppr"]
	path = fh-ppr
	url = git@github.com:FlorianMold/fh-ppr.git
	branch = main
[submodule "fh-swe"]
	path = fh-swe
	url = git@github.com:FlorianMold/fh-swe.git
	branch = main
[submodule "fh-sfr"]
	path = fh-sfr
	url = git@github.com:FlorianMold/fh-sfr.git
	branch = main
[submodule "fh-data-science"]
	path = fh-data-science
	url = git@github.com:FlorianMold/fh-data-science.git
