[submodule "fh-software-testing"]
	path = fh-software-testing
	url = https://github.com/FlorianMold/fh-software-testing
[submodule "fh-fp"]
	path = fh-fp
	url = https://github.com/FlorianMold/fh-fp
[submodule "fh-architecture"]
	path = fh-architecture
	url = https://github.com/FlorianMold/fh-architecture
[submodule "fh-ppr"]
	path = fh-ppr
	url = git@github.com:FlorianMold/fh-ppr.git
