[submodule "fh-software-testing"]
	path = fh-software-testing
	url = https://github.com/FlorianMold/fh-software-testing
[submodule "fh-microservice"]
	path = fh-microservice
	url = https://github.com/FlorianMold/fh-microservice
[submodule "fh-fp"]
	path = fh-fp
	url = https://github.com/FlorianMold/fh-fp
